* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 12px;
}

:root {
    --dark-blue-text: hsl(238, 29%, 16%);
    --red-text: hsl(14, 88%, 65%);
    --violet-gradient: hsl(273, 75%, 66%);
    --blue-gradient: hsl(240, 73%, 65%);
    --dark-gray-blue-text: hsl(237, 12%, 33%);
    --gray-blue-text: hsl(240, 6%, 50%);
    --gray-blue-div: hsl(240, 5%, 91%);
}

html {
    height: 100%;
}

body {
    width: 375px;
    height: 765px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Kumbh Sans', sans-serif;
    background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
}

.container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

#top-img {
    width: 60%;
    height: auto;
    position: relative;
    top: 40%;
    left: 20%;
}


.main {
    width: 325px;
    height: 535px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 25px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#faq {
    align-self: center;
    margin-bottom: 20px;
}

h1 {
    font-size: 2.5em;
}

.details-container {
    display: flex;
    flex-direction: row;
    /*justify-content: space-between;*/
    border-bottom: 1px solid var(--gray-blue-div);
}

.arrow {
    width: 30px;
    height: 30px;
    padding-top: 22px;
    transform: rotateY(180deg);
    align-self: flex-end;
}

details {
    font-size: 12px;
    color: var(--gray-blue-text);
}

details>summary {
    width: 100%;
    padding-bottom: 20px;
    list-style: none;
    cursor: pointer;
}

details>p {
    padding-bottom: 20px;
}


.attribution {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.bold {
    font-weight: bold;
}

.rotate {
    transform: rotateX(180deg);
}